name: Docker Image CI

on:
  push:
    branches: [ "main", "refactor-to-backend-frontend" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
          cd backend 
          docker build . --tag phpeasyreservation-backend:$(date +%s)
